[Unit]
Description=Run hlnode-cleanup on a schedule

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
